.wrapper {
	@apply text-black border-black/10 flex items-center justify-between;

	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom: 1px solid;
	padding: 15px 20px;

	.dark & {
		@apply border-white/10;
	}
}

svg {
	@apply inline-block align-top;
}

h1 {
	font-weight: 900;
	font-size: 20px;
	line-height: 1;
	margin: 6px 0 6px 10px;
	display: inline-block;
	vertical-align: top;
}

button + button {
	@apply ml-2.5;
}

.welcome {
	@apply text-slate-900 text-sm mr-2.5;
}
